html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-nav > li {
    margin-left: 1rem;
}

.navbar-text {
    font-weight: bold;
}

.float-right {
    float: right !important;
}

