@model User
@*@model string*@
@{
    ViewData["Title"] = "Home Page";
    var user = (User)ViewBag.Message;
}

<div class="text-center" asp-action="Login">
    
    @if (TempData["UserName"] != null)
    {
        
    }
    else
    {
        <h1 class="display-4">Здравейте!</h1>
        <p>Текущия сайт представлява електронна система за новини, която има най-малко три нива на потребители с 
            различен достъп до услуги. Уеб сайтът е достъпен без регистрация, но неоторизираните потребители виждат
            само одобрените публикации. Системата разполага с иструменти, които позволяват на редактори и потребители
            да имат сегментиран достъп до публикациите.
        </p>

        <h1>Create a paragraph and save it to a file</h1>

        @using (Html.BeginForm("SaveToFile", "Home"))
        {
            <div>
                @Html.TextAreaFor(model => model, 5, 50, new { @class = "form-control" })
            </div>

            <div>
                <input type="submit" value="Save to file" />
            </div>
        }

        @if (Model != null)
        {
            <h2>The following paragraph has been saved to a file:</h2>
            <p>@Model</p>
        }
    }
</div>


