@model string
@{
    ViewData["Title"] = "Home Page";
    var user = (User)ViewBag.Message;
}

<div class="text-center" asp-action="Login">
    
    @if (TempData["UserName"] != null)
    {
        <h1>Създайте параграф</h1>

        @using (Html.BeginForm("SaveToFile", "Home"))
        {
              <form method="post" action="/Home/SaveToFile">
                   <div class="form-group">
                        <label for="Description">Вкарай текст:</label>
                        <textarea class="form-control" id="Description" name="Description" rows="5" required></textarea>
                   </div>
                    <button type="submit" class="btn btn-primary">Запази</button>
              </form>

        }
        
    }
    else
    {
        <h1 class="display-4">Здравейте!</h1>
        <p>Текущия сайт представлява електронна система за новини, която има най-малко три нива на потребители с 
            различен достъп до услуги. Уеб сайтът е достъпен без регистрация, но неоторизираните потребители виждат
            само одобрените публикации. Системата разполага с иструменти, които позволяват на редактори и потребители
            да имат сегментиран достъп до публикациите.
        </p>

    }
</div>




