@model User
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" asp-action="Login">
    
    @if (TempData["UserName"] != null)
    {
        <div>

        </div>
    }
    else
    {
        <h1 class="display-4">Здравейте!</h1>
        <p>Текущия сайт представлява електронна система за новини, която има най-малко три нива на потребители с 
            различен достъп до услуги. Уеб сайтът е достъпен без регистрация, но неоторизираните потребители виждат
            само одобрените публикации. Системата разполага с иструменти, които позволяват на редактори и потребители
            да имат сегментиран достъп до публикациите.
        </p>
    }
</div>


